.App {
	text-align: center;
	padding: 2rem;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #1e1e44;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.App.dark {
	background-color: #282c34;
}
.App.purple {
	background-color: #480e52;
}
.App.green {
	background-color: #2f4d37;
}
.App.blue {
	background-color: #283d67;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
select {
	cursor: pointer;
	border: 1px solid #1f766f;
	background-color: #04adbf;
	font-size: 1.2rem;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
}
.dark select {
	color: #fff;
	border-color: aquamarine;
	background-color: #0e3431;
}
.purple select {
	background-color: #480e52;
	color: white;
}
.green select {
	background-color: #2f4d37;
	color: white;
}
.blue select {
	background-color: #283d67;
	color: white;
}
